<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,="> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700" rel="stylesheet">
    <link rel="stylesheet" href="./static/styles/base_landing.css">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="Navigation">
            <a class="Navigation__Link" href="/">Festify</a>
            <a class="Navigation__Link Highlight SignIn" href="{{auth_url}}">Sign In</a>
            <a class="Navigation__Link Highlight SignOut" href="/sign_out">Sign Out</a>
        </div>
    </header>
    
    {% block content %}
    {% endblock %}
</body>
</html>