{% extends "base.html" %}
{% block title %}Display{% endblock %}
{% block content %}
<section>
    <h1>Coachella 2022</h1>
    <p>Your Recommended Artists</p>
    <ul>
    {% for image, artist, index in art %}
        <li>
            <p><img src='{{image}}' height="100" /> Artist: {{artist}} {{index}}</p>
        </li>
    {% endfor %}  
    </ul>
</section>
<section>
    <h2>Dive into your recommended artists by creating a playlist!</h2>
    <form action="#" method="post">
        <label for="nm">Playlist Name:</label>
        <input type="text" name="nm" />
        <label for="dp">Playlist Description:</label>
        <textarea id="story" name="dp" rows="5" cols="33"></textarea>
        <button>Create Playlist</button>
    </form>
</section>
{% endblock %}