{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block styles %}
<link rel="stylesheet" href="./static/styles/index2.css">
{% endblock %}
{% block content %}
<h1>Welcome, <span id="name">{{spotify.me()["display_name"]}}</span>.</h1>
<p>Choose which festival you would like to get artist recommendations for.</p>
<div class="AppPageContentFestivals">
    <ul>
        <li class="FestivalItem">
            <div class="FestivalItemLink">
                <div class="FestivalImage"></div>
                <a href='/recommendations'>Coachella 2022</a>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
