{% extends "base_landing.html" %}
{% block title %}Festivo | Home {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename="styles/index1.css")}}">
{% endblock %}
{% block content %}
<section class="Homepage">
    <h1 class="HomepageHeader__Title">Enhance your Festival Experience</h1>
    <div class="HomepageContent">
        <p class="HomepageContent__Description">Festivo is a free Spotify-powered app that recommends you artists from <span class="CapContainer"><span id="cap">any*</span><span id="secret">that's cap</span></span> lineup based on your most listened-to artists.</p>
        <a class="HomepageContent__SignIn" href="{{auth_url}}">Sign in with spotify</a>
    </div>
</section>
{% endblock %}
