body {
    color: #202C39;
    font-size: 20px;
    line-height: 1.6;
    /* box-shadow: inset 0 0 100px hsla(0,0%,0%,.3); */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.Navigation__Link {
    color: #f9f9f9;
}

.AppPageContentImage {
    background: linear-gradient(172deg, transparent, transparent 70%, #f9f9f9 60%, #f9f9f9), url("../images/homepage_background.jpg");
    background-size: cover;
    background-position: center;
}

.AppPageContent {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    /* border: 3px solid red; */
    box-shadow: 10px 0px 10px -10px rgb(0 0 0 / 5%), -10px 0px 10px -10px rgb(0 0 0 / 5%);
}

.AppPageContent h1 {
    font-size: 2.5em;
    /* padding-top: 10px; */
    margin: 0 20px;
}

.AppPageContent h1 + p {
    font-size: 1.2em;
    padding-top: 40px;
    margin: 0 20px;
    margin-bottom: 0;
    text-align: center;
}

#name {
    color: #EFA00B;
}

.AppPageContentFestivals {
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    /* max-width; */
}

.AppPageContentFestivals ul {
    margin: 25px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.FestivalItem {
    text-decoration: none;
    position: relative;
    height: 275px;
    width: 275px;
    border-radius: 10px;
    box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
    background:linear-gradient(168deg, #832232, #832232 60%, white 60%, white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .5s;

}

.FestivalItem:hover {
    box-shadow: 0 50px 100px -20px rgb(50 50 93 / 40%), 0 30px 60px -30px rgb(0 0 0 / 50%);
    transform: translateY(-3px);
    background:linear-gradient(168deg, #832232, #832232 60%, white 60%, white);
}

.FestivalItemLink:hover > .FestivalName {
    background-color: #832232;
}

.FestivalItem:nth-of-type(2n) {
    background:linear-gradient(168deg, #EFA00B, #EFA00B 60%, white 60%, white);
}

.FestivalItemLink {
    border-radius: 10px;
    background-color: #f9f9f9;
    /* box-shadow: 0 0 30px rgb(0 0 0 / 25%); */
    box-shadow: 0 13px 9px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%);
}

.FestivalName {
    text-decoration: none;
    padding: .8em 1.3em;
    border-radius: 50px;
    color:#f9f9f9;
    background-color: #832232;
    cursor: pointer;
    box-shadow: 0 2px 5px -1px rgb(50 50 93 / 25%), 0 1px 3px -1px rgb(0 0 0 / 30%);
    transition: all 0.15s;
}

.FestivalName:hover {
    background-color: #832222;
}

.FestivalItem:nth-of-type(2n) .FestivalItemLink a {
    background-color: #EFA00B;

}

.FestivalItemLink {
    height: 90%;
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.FestivalImage {
    width: 100%;
    height: 100%;
    background-image: url('https://media-prd.coachella.com/content/seo_images/76/RN9URApNiGKO7oPxaDndNq8dG6v2f4FFYVSi6mZh.jpeg') ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center

}

.DeveloperMessage {
    font-size: .5em;
    text-align: center;
}


@media (max-width: 800px) {
    .AppPageContentImage {
        height: 234px;
    }

    .AppPageContent h1 {
        font-size: 1.65em;
        /* margin: 0; */
    }

    .AppPageContent h1 + p {
        font-size: .8em;
    }

    .FestivalItem {
        width: 200px;
        height: 200px;
    }

    .FestivalName {
        font-size: 12px;
        padding: 0.5em 0.8em;
    }
}

@media (max-width: 800px) and (max-height: 950px) {
    .AppPageContentFestivals {
        margin-top: 5%;
    }
    
}