body {
    background-color: #f9f9f9;
    /* color: #220845; */
    color: #220845;
    font-size: 20px;
    line-height: 1.6;
}

.HomepageHeader {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.HomepageHeader__Title {
    width: 800px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    z-index: 2;
    font-weight: 700;
    padding-top: 200px;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
}

.HomepageHeaderDiagonal {
    position: relative;
    width: 100%;
    height: 60vh;
    background: #f9f9f9;
    /* background-image: url('../images/landing-background.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.HomepageHeaderDiagonal:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-size: cover;
    transform-origin: -60px 100%;
    transform: skewY(-12deg);
}

.HomepageContent {
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, p, a {
    margin: 0;
    margin-bottom: 1em;
}

.HomepageContent__Description {
    font-size: 1em;
    max-width: 700px;
    margin-bottom: 30px;
}

.HomepageContent__SignIn {
    text-decoration: none;
    color: #fff;
    padding: .8em 1.3em;
    border-radius: 50px;
    font-weight: 700;
    border-color: #220845;
    background-color: #220845;
    cursor: pointer;
    box-shadow: 0 10px 20px rgb(0 0 0 / 8%);
    transition: all 0.15s;
}

.HomepageContent__SignIn:hover {
    box-shadow: 0 10px 20px rgb(34 8 69 / 20%);
    background-color: #220845d8;
}

